.kitchen-side {
    /* display: none; */
}

.meal-side {
    /* display: none; */
}

* {
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

.meal-side {
    width: 100%;
}

.recipe-info {
    text-align: center;
    padding-right: 10px;
}

.recipe-info > * {
    display: inline-block;
    vertical-align: middle;
}

.recipe-info-left {
    color: white;
    padding: 11px;
    text-align: left;
    width: 60%;
}

.recipe-info-left p {
    margin: 2px;
}

.recipe-info button {
    border: none;
    padding: 10px;
    background-color:rgb(121, 64, 0);
    color: white;
    font-size: 1.2em;
    height: 50px;
    border: solid 1px peru;
}

.recipe-info button:hover,
.kitchen-side form button:hover {
    background-color: rgb(173, 104, 35);
    border: solid 1px white;
}

.kitchen-side {
    width:100%;
}

.kitchen-side input {
    padding: 5px;
    border: 2px solid rgb(121, 64, 0);
    border-radius: 4px;
    background-color: white;
    width: 70%;
    box-sizing: border-box;
}

.kitchen-side form {
    width: 100%;
    text-align: center;
    padding: 15px;
}

.kitchen-side form > * {
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
}

.kitchen-side form button {
    border: solid 1px peru;
    padding: 10px;
    background-color:rgb(121, 64, 0);
    color: white;
} 

button {
    cursor: pointer;
}

html {
    height: 100%;
    background-image: url('./Fresh-Food1.jpg');
    background-size: cover;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    background-color: rgb(190, 122, 53);
    border-right: solid 1px rgb(71, 0, 0);
    border-left: solid 1px rgb(71, 0, 0);
}

.banner {
    text-align: center;
    position: relative;
    width: 100%;
    height: 10.5%;
    flex-direction: row;
    background-color: peru;
    border-bottom: solid 2px black;
}

.banner img {
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    display: inline-flex;
}

h1 {
    display: inline-flex;
    vertical-align: middle;
    margin: 0;
    padding: 5px;
    padding-left: 0px;
    font-family: 'Kaushan Script', cursive;
    cursor: default;
}

#tooltip {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: rgb(121, 64, 0);
    font-size: .95em;
    padding: 4px 10px;
    border-radius: 40px;
    /* border: solid 1px black; */
    color: white;
}

#tooltip:hover {
    background-color: rgb(173, 104, 35);
    color: white;
}

h1,
nav * {
    color: white;
}

ul {
    list-style: none;
}

nav {
    text-align: center;
    display: inline-flex;
    width: 100%;
}

nav * {
    text-decoration: none;
    font-size: 20px;
    /* background-ground- */
}

nav li:hover,
nav .profile:hover {
    cursor: pointer;
    background-color: rgb(173, 104, 35);
}

.folder-menu-list {
    margin: 0;
    padding: 0;
    display: inline-flex;
    grid-column-gap: 0px;
    width: 100%;
    text-align: center;
}

.folder-menu-list-item {
    padding: 10px;
    border-bottom: 1px solid rgb(71, 0, 0);
    width: 57%;
    text-align:center;
}

.kitchen {
    border-right: solid 1px black;
    border-left: solid 1px black;
}

main {
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding: 25px;
}

.menu {
    margin: 0 auto;
    margin-top: 2%;
    width: 85%;
    height: 50%;
    max-width: 450px;
    background-color: white;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-right: solid 3px rgb(121, 64, 0);
    border-left: solid 3px rgb(121, 64, 0);
}

.menu ul {
    margin-top: 0px;
    padding-left: 0px;
}

.menu li,
.menu li * {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-meals li p {
    width: 71%;
}

.my-kitchen ul {
    margin: 0;
    padding-left: 0px;
}

.selected {
    background-color: orangered;
    color: white;
}

li:hover {
    background-color: rgb(255, 203, 144);
    cursor: pointer;
}

.my-kitchen li {
    height: 50px;
    text-align: left;
    margin: 0;
    font-size: 1.2em;
    width: 100%;
    border-bottom: dotted 1px rgb(202, 202, 202);
    line-height: 50px;
    vertical-align: middle;
    padding-left: 10px;
}

.my-meals li {
    height: 90px;
    width: 100%;
    text-align: left;
    border-bottom: dotted 1px rgb(202, 202, 202);
    font-size: 1.1em;
}

.my-meals li * {
    display: inline-block;
    vertical-align: middle;
}

.example-picture {
    height: 80px;
    width: 80px;
    margin: 9px;
    margin-top: 4px;
    background-color: green;
    border: solid 1px black;
    border-top: 0;
}

.meals:first-child .example-picture {
    border-top: solid 1px black;
}

::-webkit-scrollbar {
    width: 4px;
    border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}

@media all and (min-width: 800px) {
    h1{
        font-size: 3.5em;
    }

    .banner {
        height: 15%;
    }

    .banner img {
        height: 85px;
    }

    main {
        margin-top: 0px;
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 0;
    }
    
    .folder-menu-list {
        display: inline-flex;
    }

    .folder-menu-list li.meals *,
    .folder-menu-list li.kitchen *{
        font-size: 2em;
    }

    .kitchen {
        border-left: 0;
    }

    nav .profile  {
        line-height: 20px;
        border-bottom: solid 2px rgb(71, 0, 0);
        color: white;
        display: inline-block;
        font-size: 3em;
        width: 20%;
        text-decoration: underline;
    }

    nav li:nth-child(2) {
        border-right: 0px;
    }

    .folder-menu-list-item {
        border-bottom: none;
    }
    
    nav {
        display: block;
    }

    nav .profile:hover {
        cursor:pointer;
        background-color: rgb(214, 146, 77);
    }

    nav .profile:hover a,
    #tooltip,
    #tooltip * {
        cursor:pointer;
    }

    nav li:hover,
    nav a {
        cursor: default;
        background-color: unset;
    }

    .my-meals li p {
        width: 68%;
    }

    .kitchen-side {
        display: unset;
    }

    .meal-side, .kitchen-side {
        height: 100%;
    }
}

@media all and (min-width: 500px) {
    #tooltip {
        font-size: 1.2em;
        padding: 8px 13px;
        top: 15px;
        right: 15px;
    }
}

@media all and (max-width: 420px) {
    .my-meals li p {
        width: 60%;
    }
}
