
* {
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    cursor: default;
}

#root {
    height: 100%;
}

#root > div {
    height: 82%;
}

html {
    height: 100%;
    background-image: url('https://nolanmcgill.files.wordpress.com/2019/08/fresh-food1.jpg');
    background-size: cover;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    background-color: rgb(255, 255, 255);
    min-height: 100%;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

input {
    cursor: text;
}

img,li,button {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    transition: .2s;
}

button {
    cursor: pointer;
    color: white;
    border: solid 2px white;
    background-color: peru;
}

button:hover {
    background-color: rgb(85, 131, 85);
}

button:active {
    color: rgb(21, 56, 21);
    border: solid 2px rgb(21, 56, 21);
    background-color: white;
    border-radius: 2px;
}

.banner {
    text-align: center;
    position: relative;
    width: 100%;
    height: 13%;
    flex-direction: row;
    background-color: rgb(21, 56, 21);
    border-bottom: solid 2px black;
    color: white;
}

.banner img {
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    display: inline-flex;
}

h1 {
    display: inline-flex;
    vertical-align: middle;
    margin: 0;
    padding: 5px;
    padding-left: 0px;
    font-family: 'Kaushan Script', cursive;
    cursor: default;
}

#tooltip {
    position: absolute;
    background-color: peru;
    border-radius: 40px;
    color: white;
    font-size: 1.2em;
    padding: 8px 13px;
    top: 15px;
    right: 5px;
    cursor: pointer;
    transition: .2s;
}

#tooltip:hover {
    background-color: rgb(149, 185, 149);
    color: white;
}

.swal2-popup {
    padding: 40px;
}

#swal2-content {
    font-size: 20px;
    line-height: 25px;
}

.swal2-confirm {
    border-left: rgb(36, 97, 36) !important;
    border-right: rgb(36, 97, 36) !important;
    background-color: rgb(53, 121, 53) !important;
}

.swal2-shown { 
    padding-right: 0 !important;
}

html body.swal2-height-auto {
    height: 100% !important;
}

ul {
    list-style: none;
}

nav {
    text-align: center;
    display: inline-flex;
    width: 100%;
    color: black;
}

nav * {
    text-decoration: none;
    font-size: 20px;
}

a > * {
    cursor:pointer;
}

nav a:hover,
nav .profile a:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(81, 109, 78);
}

nav a {
    transition: .3s;
}

nav a:active {
    background-color: white;
    color: rgb(21, 56, 21);
}

.folder-menu-list {
    margin: 0;
    padding: 0;
    display: inline-flex;
    grid-column-gap: 0px;
    width: 100%;
    text-align: center;
}

.folder-menu-list-item {
    border-bottom: 1px solid rgb(71, 0, 0);
    padding: 10px;
    width: 57%;
    text-align:center;
}

a.folder-menu-list-item.profile,
a.folder-menu-list-item.kitchen,
a.folder-menu-list-item.meals {
    color: black;
}

.active,
.active * {
    border-bottom: none;
    font-size: 25px;
}

.kitchen {
    border-right: solid 1px black;
    border-left: solid 1px black;
}

main {
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding: 25px;
    height: 87%;
    padding-bottom: 0px;
}

.kitchen-side,
.meal-side {
    height: 120%;
}

.meal-side {
    width: 100%;
}

.recipe-info {
    text-align: center;
    padding: 15px 25px 15px 25px;
}

.recipe-info button {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
}

.recipe-info-left {
    padding: 11px;
    text-align: left;
    width: 60%;
}

.recipe-info-left p {
    margin: 2px;
}

.recipe-info button {
    padding: 10px;
    font-size: 1.2em;
    height: 50px;
}

.kitchen-side {
    width:100%;
}

.kitchen-side input.ingredient-input{
    padding: 5px;
    color: black;
    border: 2px solid rgb(21, 56, 21);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    box-sizing: border-box;
    font-size: 1.1em;
    border-radius: 0px;
}

.kitchen-side form {
    width: 100%;
    text-align: center;
    padding: 15px;
}

.kitchen-side form > * {
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
}

.kitchen-side form button {
    padding: 10px;
} 

.menu {
    margin: 0 auto;
    margin-top: 2%;
    width: 85%;
    height: 85%;
    max-height: 75%;
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.815);
    overflow: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none;  /* Firefox */
    position: relative;
}

.menu::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.menu ul {
    margin-top: 0px;
    padding-left: 0px;
    height: 400px;
    position : relative;
}

.menu li,
.menu li * {
    white-space: nowrap; 
    overflow: hidden;
}

main li {
    border-bottom: solid 3px white;
    background-color: rgb(21, 56, 21);
}

main li:nth-child(even),
main label:nth-child(even) li {
    background-color: rgb(34, 75, 34);
}

.my-meals li span {
    width: 71%;
    transition: font-weight .3s;
    font-size: .9em;
    white-space: initial;
}

.my-kitchen ul {
    margin: 0;
    padding-left: 0px;
}

.meals * {
    cursor: pointer;
}

.meals input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.meal-side form {
    height: 100%;
}

:checked~.example-picture,
:checked~span{ 
    -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
    font-weight: bold;
}

.menu li:hover {
    background-color: rgba(21, 56, 21, 0.575);
}

.meal-side .menu li:hover {
    cursor:pointer
}

.my-kitchen li {
    height: 50px;
    text-align: left;
    margin: 0;
    font-size: 1.2em;
    width: 100%;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 10px;
    transition: .35s;
}

.remove-ingredient {
    color:rgb(204, 204, 204);
    font-size: 1.35em;
    float:right;
    cursor: pointer;
    transition: .2s;
    line-height: 49px;
    vertical-align: middle;
    width: 34px;
    text-align: center;
}

.remove-ingredient:hover {
    color: white;
}

.missing-ingredients:hover {
    text-decoration: underline;
}

.my-meals li {
    height: 90px;
    width: 100%;
    text-align: left;
    font-size: 1.1em;
    transition: .35s;
}

.my-meals li * {
    display: inline-block;
    vertical-align: middle;
}

.example-picture {
    height: 80px;
    width: 80px;
    background-image: url("https://nolanmcgill.files.wordpress.com/2019/09/foodthumbnail.png");
    margin: 4px 9px 9px 0px;
    -webkit-filter: grayscale(75%); /* Safari 6.0 - 9.0 */
    filter: grayscale(75%);
    border: solid 1px black;
    border-top: 0;
    transition: .3s;
}

.meals:first-child .example-picture {
    border-top: solid 1px black;
}

::-webkit-scrollbar {
    width: 4px;
    border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}

.logged-in {
    align-items: center;
    justify-content: center;
}

.logged-in > * {
    display: block;
}

.logged-in p:first-child {
    font-size: 1.15em;
}

.logged-in p,
.logged-in button {
    font-size: 1.3em;
}

.chef {
    margin: 30px;
}

.save {
    padding: 40px;
}

#close-profile {
    text-decoration: none;
    position: absolute;
    color: rgb(224, 224, 224);
    top: 3%;
    right: 4%;
    font-size: 1.8em;
    cursor: pointer;
    border-radius: 100%;
    vertical-align: middle;
}

#close-profile:hover {
    color: white;
}

.profile-page {
    color: white;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 250px;
    margin-left: -175px;
    margin-top: -125px;
    background-color: rgb(21, 56, 21);
    padding: 20px;
    text-align: center;
    border: solid 2px black;
    box-shadow: 10px 10px 5px rgba(54, 54, 54, 0.664);
}

.profile-page h2 {
    font-size: 1.6em;
}

.logged-out input {
    display: block;
    width: 60%;
    height: 40px;
    margin: 0 auto;
    font-size: 1.2em;
    padding-left: 4px;
    text-align: center;
}

.log-in-options {
    margin: 1.2em;
    display: inline-flex;
}

.log-in-options * {
    font-size: 1.2em;
    margin: 4px;
    line-height: 30px;
    padding: 5px 8px 5px 8px;
}

.log-in-options {
    margin: 1.2em;
    display: inline-flex;
}

.log-out-options * {
    font-size: 1.2em;
    margin: 4px;
    line-height: 30px;
    padding: 10px 13px 10px 13px;
}

main > div:nth-child(2){
    display: none;
}

@media all and (min-width: 800px) {
    h1{
        font-size: 3.5em;
    }

    body {
        border-right: solid 1px black;
        border-left: solid 1px black;
    }

    .banner {
        height: 17%;
    }

    .banner img {
        height: 85px;
    }

    main {
        margin-top: 0px;
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 0;
    }

    main > * {
        max-height: 90%;
    }

    .recipe-info button {
        width: 85%;
    }

    .folder-menu-list {
        display: inline-flex;
    }

    .folder-menu-list li.meals *,
    .folder-menu-list li.kitchen *{
        font-size: 2em;
    }

    .kitchen {
        border-left: 0;
    }

    nav .profile  {
        line-height: 20px;
        border-bottom: solid 2px rgb(71, 0, 0);
        display: inline-block;
        font-size: 3em;
        width: 20%;
        text-decoration: underline;
        color: black;
    }

    nav li:nth-child(2) {
        border-right: 0px;
    }

    .folder-menu-list-item {
        border-bottom: none;
    }
    
    nav {
        display: block;
    }

    nav a.profile:hover,
    nav a.profile div:hover{
        cursor:pointer;
        color: white;
    }

    nav .profile:hover a,
    #tooltip,
    #tooltip * {
        cursor:pointer;
    }

    nav .profile:hover {
        background-color: rgb(81, 109, 78);
    }

    body #tooltip {
        font-size: 1.5em;
        padding: 12px 19px;
        border-radius: 50px;
        top: 20px;
        right: 20px;
    }

    nav a {
        font-size: 1.55em;
    }

    nav a:hover,
    nav a {
        cursor: default;
        background-color: white;
        color: black
    }

    .my-meals li p {
        width: 68%;
    }

    .kitchen-side {
        display: unset;
    }

    .kitchen-side input.ingredient-input{
        font-size: 1.1em;
    }

    .meal-side, .kitchen-side {
        height: 100%;
    }

    .menu {
        height: 75%;
    }

    .profile-page {
        width: 450px;
        margin-left: -225px;
    }

    .profile-page input {
        text-align: left;
    }

    .invisible {
        display: none;
    }
    main > div:nth-child(2){
        display: unset;
    }

}

@media all and (min-width: 500px) {
    #tooltip {
        font-size: 1.2em;
        padding: 8px 13px;
        top: 15px;
        right: 15px;
    }
}

@media all and (max-width: 420px) {
    .my-meals li p {
        width: 60%;
    }

    .kitchen-side input.ingredient-input{
        font-size: .9em
    }
}
